/* 
    Descendent Combinator Practice
    1. Links inside the header
        1. font size 30px
        2. color teal
    
    2. Only the links inside the paragraph with id 'dislikes'
        1. bolded
        2. color red
*/

/* SOLUTION */
header a{
    font-size: 30px;
    color: teal;
}

#dislikes a{
    font-weight: bold;
    color: red;
}